Notebook to pre-process census data

## Content
* Data ingestion
* Data merging and interpolation
    * Extrapolate value for 2019 for variables not available  
    * Dataset merging
    * Interpolation
* Features engineering
* Save census data

In [305]:
import pandas as pd
import numpy as np

In [306]:
import os

path_to_data_folder = "./data/"
path_to_extr_data_folder = "./extracted"

# Data ingestion
Read each census data file and rename their variables

### Pastures data

In [307]:
# Funtion to extract data, used only for some datasets since others required a more customed process
def extract_data(file_path, header_row, rows_to_skip, footer_rows):
    extr_data = pd.read_excel(file_path, index_col=[0, 2], header=header_row, skiprows=rows_to_skip, skipfooter=footer_rows)
    
    cols_to_drop=[col for col in extr_data.columns if "Unnamed" in col]
    extr_data.drop(cols_to_drop, axis=1, inplace=True)
    extr_data.fillna(0, inplace=True)
    extr_data.index.names = ['Municipality', 'Year']
    return extr_data

In [308]:
path_to_pastures_data = os.path.join(path_to_data_folder, "pastures.xls")
pastures_data = extract_data(path_to_pastures_data, 5, [6], 8)

In [309]:
col_names=['pastures_area_munic_ha']
pastures_data.columns = col_names

In [310]:
len(pastures_data.index.get_level_values(0).drop_duplicates())

278

In [311]:
pastures_data.tail()

                                 pastures_area_munic_ha
Municipality               Year
Vila do Bispo              1999                   338.0
                           1989                  1933.0
Vila Real de Santo António 2009                   126.0
                           1999                   604.0
                           1989                   263.0

### Utilised agricultural area

In [312]:
path_to_agr_area_data = os.path.join(path_to_data_folder, "utilised agricultural area.xls")

In [313]:
agr_area_data = pd.read_excel(path_to_agr_area_data, index_col=[0, 2], header=7, skiprows=[8], skipfooter=8)
agr_area_data.rename(columns={'Unnamed: 7' : 'agric_area_mean'}, inplace=True)
cols_to_drop = [col for col in agr_area_data.columns if "Unnamed" in col]
agr_area_data.drop(cols_to_drop, axis=1, inplace=True)
agr_area_data.fillna(0, inplace=True)
agr_area_data.index.names = ['Municipality', 'Year']

In [314]:
col_names=['agric_area_munic_ha', 'agric_area_owned_ha', 'agric_area_mean']
agr_area_data.columns = col_names

In [315]:
len(agr_area_data.index.get_level_values(0).drop_duplicates())

278

In [316]:
agr_area_data.tail()

                                 agric_area_munic_ha  agric_area_owned_ha  \
Municipality               Year
Vila do Bispo              1999               2555.0               1747.0
                           1989               5155.0               4681.0
Vila Real de Santo António 2009               1198.0               1010.0
                           1999               2163.0               1712.0
                           1989               2444.0               1980.0

                                 agric_area_mean
Municipality               Year
Vila do Bispo              1999             15.1
                           1989             14.5
Vila Real de Santo António 2009              5.3
                           1999              6.7
                           1989              7.6

### Agricultural property

In [317]:
path_to_agr_prop_data = os.path.join(path_to_data_folder, "agricultural property.xls")
agr_prop_data = extract_data(path_to_agr_prop_data, 5, [6, 7, 8], 10)

In [318]:
col_names=['tract_100ha', 'lu_cattle_num', 'lu_per_agric_area']
agr_prop_data.columns = col_names

In [319]:
len(agr_prop_data.index.get_level_values(0).drop_duplicates())

278

In [320]:
agr_prop_data.tail()

                                 tract_100ha  lu_cattle_num  lu_per_agric_area
Municipality               Year
Vila do Bispo              1989          1.7          732.0               0.31
Vila Real de Santo António 2019          8.6            2.0               0.07
                           2009         12.1            6.0               0.17
                           1999          6.0          186.0               0.24
                           1989          4.7          279.0               0.25

### Demographic

In [321]:
path_to_demogr_data = os.path.join(path_to_data_folder, "demographic.xls")

In [322]:
demogr_data = pd.read_excel(path_to_demogr_data, index_col=[0, 2], header=9, skiprows=[10], skipfooter=7)
cols_to_drop = [col for col in demogr_data.columns if "Unnamed" in col]
demogr_data.drop(cols_to_drop, axis=1, inplace=True)
demogr_data.drop('65 and more years.1', axis=1, inplace=True)
demogr_data.fillna(0, inplace=True)
demogr_data.index.names = ['Municipality', 'Year']

In [323]:
col_names=['farmers_num', 'farmers_over65_num', 'farmers_female_num']
demogr_data.columns = col_names

In [324]:
len(demogr_data.index.get_level_values(0).drop_duplicates())

278

In [325]:
demogr_data.tail()

                                 farmers_num  farmers_over65_num  \
Municipality               Year
Vila do Bispo              1989        355.0               168.0
Vila Real de Santo António 2019        198.0               133.0
                           2009        227.0               133.0
                           1999        323.0               175.0
                           1989        321.0               126.0

                                 farmers_female_num
Municipality               Year
Vila do Bispo              1989                40.0
Vila Real de Santo António 2019                47.0
                           2009                68.0
                           1999                64.0
                           1989                42.0

### Education

In [326]:
path_to_educ_data = os.path.join(path_to_data_folder, "education.xls")
educ_data = extract_data(path_to_educ_data, 7, [8], 7)

In [327]:
col_names=['educ_none', 'educ_basic', 'educ_secondary', 'educ_superior']
educ_data.columns = col_names

In [328]:
len(educ_data.index.get_level_values(0).drop_duplicates())

278

In [329]:
educ_data.tail()

                                 educ_none  educ_basic  educ_secondary  \
Municipality               Year
Vila do Bispo              1999      43.71       49.10            2.99
                           1989      57.34       38.14            2.82
Vila Real de Santo António 2009      24.32       62.16            6.76
                           1999      41.48       53.38            2.57
                           1989      48.26       44.79            3.79

                                 educ_superior
Municipality               Year
Vila do Bispo              1999           4.19
                           1989           1.69
Vila Real de Santo António 2009           6.76
                           1999           2.57
                           1989           3.15

### Activity

In [330]:
path_to_activity_data = os.path.join(path_to_data_folder, "activity.xls")
activity_data = extract_data(path_to_activity_data, 7, [8], 10)

In [331]:
col_names=['work_unit_100ha', 'inc_excl_agric_ha', 'inc_mainly_agric_ha', 'inc_mainly_ext_ha', 'agric_time_full']
activity_data.columns = col_names

In [332]:
len(activity_data.index.get_level_values(0).drop_duplicates())

278

In [333]:
activity_data.tail()

                                 work_unit_100ha  inc_excl_agric_ha  \
Municipality               Year
Vila do Bispo              1989              6.1              571.0
Vila Real de Santo António 2019             19.3               84.0
                           2009             11.2              182.0
                           1999              8.5              305.0
                           1989             17.9             1224.0

                                 inc_mainly_agric_ha  inc_mainly_ext_ha  \
Municipality               Year
Vila do Bispo              1989               2513.0             1500.0
Vila Real de Santo António 2019                 93.0              723.0
                           2009                106.0              883.0
                           1999                389.0              901.0
                           1989                577.0              611.0

                                 agric_time_full
Municipality               Year
Vila do Bispo              1989            15.82
Vila Real de Santo António 2019             0.00
                           2009             2.70
                           1999             0.32
                           1989            29.34

# Data merging and interpolation
Create a dataset with all the variables and reporting their values from 1996 to 2019 obtained through interpolation

## Extrapolate value for 2019 for variables not available
Some variables are not available for 2019. Before interpolating, we need to set a value for them for 2019.

## Datasets all variables missing 2019

In [334]:
data_no_2019 = [pastures_data, agr_area_data, educ_data]

In [335]:
municipalities = pastures_data.index.get_level_values(0).drop_duplicates()
years = list(range(1989, 2020, 10))

In [336]:
data_with_2019=[]
for dataset in data_no_2019:
    #Create a dataframe as the original ones but with all years as second index
    dataset_with_2019 = pd.MultiIndex.from_product([municipalities, years]).to_frame()
    dataset_with_2019 = dataset_with_2019.drop(columns=dataset_with_2019.columns)
    dataset_with_2019.index.names = ['Municipality', 'Year']
    dataset_with_2019[dataset.columns] = np.nan
    dataset_with_2019.update(dataset)
    data_with_2019.append(dataset_with_2019)

In [337]:
data_with_2019_extr = []
for dataset in data_with_2019:
    data_only_2019 = dataset.loc[(slice(None), 2019), :].copy()
    data_only_2019[data_only_2019.columns] = (dataset.loc[(slice(None), 2009), :].values - dataset.loc[(slice(None), 1999), :].values) * 2 + dataset.loc[(slice(None), 1999), :].values
    dataset_extr = dataset.copy()
    dataset_extr.update(data_only_2019)
    dataset_extr[dataset_extr < 0] = 0  # If the extrapolation created negative values, replace with 0 --> this can cause
                                        # percentages to not sum to 100
    data_with_2019_extr.append(dataset_extr)

In [338]:
# In the dataset on education with percentages, also replace any value bigger than 100 with 100
data_with_2019_extr[2][data_with_2019_extr[2]>100] = 100

In [339]:
pastures_data, agr_area_data, educ_data = data_with_2019_extr

### Checks

#### The utilised agricultural area cannot be less than the permanent pastures area (since the latter is a subset of the former).

In [340]:
agr_area_data[agr_area_data['agric_area_munic_ha'] < pastures_data['pastures_area_munic_ha']].shape[0]

16

In [341]:
(agr_area_data[agr_area_data['agric_area_munic_ha'] < pastures_data['pastures_area_munic_ha']].index.get_level_values(1)
 == 2019).all()

True

All values in 2019, meaning that all resulting from the extrapolation. We set these values to the extrpolated value of the permanent pastures area.

In [342]:
agr_area_data.loc[agr_area_data['agric_area_munic_ha'] < pastures_data['pastures_area_munic_ha'], 'agric_area_munic_ha'] = (
    pastures_data.loc[agr_area_data['agric_area_munic_ha'] < pastures_data['pastures_area_munic_ha'], 'pastures_area_munic_ha']
)

In [343]:
# Check after modification
agr_area_data[agr_area_data['agric_area_munic_ha'] < pastures_data['pastures_area_munic_ha']].shape[0]

0

#### The owned agricultural area cannot be more than the utilised agricultural area

In [344]:
agr_area_data[agr_area_data['agric_area_munic_ha'] < agr_area_data['agric_area_owned_ha']].shape[0]

40

In [345]:
(agr_area_data[agr_area_data['agric_area_munic_ha'] < agr_area_data['agric_area_owned_ha']].index.get_level_values(1)
 == 2019).all()

True

Also in this case all values for 2019. We set these values of owned area to the area of utilised agricultural land just modified.

In [346]:
agr_area_data.loc[agr_area_data['agric_area_munic_ha'] < agr_area_data['agric_area_owned_ha'], 'agric_area_owned_ha'] = (
    agr_area_data.loc[agr_area_data['agric_area_munic_ha'] < agr_area_data['agric_area_owned_ha'], 'agric_area_munic_ha']
)

In [347]:
# Check after modification
agr_area_data[agr_area_data['agric_area_munic_ha'] < agr_area_data['agric_area_owned_ha']].shape[0]

0

### Activity dataset, which has only one variable missing 2019

In [348]:
data_only_2019 = activity_data.loc[(slice(None), 2019), :].copy().astype(float)
data_only_2019['agric_time_full'] = ((activity_data.loc[(slice(None), 2009), 'agric_time_full'].values
                                      - activity_data.loc[(slice(None), 1999), 'agric_time_full'].values)
                                     * 2 + activity_data.loc[(slice(None), 1999), 'agric_time_full'].values)
data_only_2019.clip(lower=0, inplace=True)
data_only_2019['agric_time_full'].clip(upper=100, inplace=True)

In [349]:
activity_data.update(data_only_2019.astype(float))
activity_data.head()

                       work_unit_100ha  inc_excl_agric_ha  \
Municipality     Year
Arouca           2019             28.2              185.0
                 2009             41.4              568.0
                 1999             84.1              456.0
                 1989            110.7              926.0
Castelo de Paiva 2019             60.6               65.0

                       inc_mainly_agric_ha  inc_mainly_ext_ha  agric_time_full
Municipality     Year
Arouca           2019                491.0             1311.0            78.80
                 2009                639.0             1749.0            71.67
                 1999               1229.0             1530.0            64.54
                 1989               2059.0             1321.0            28.80
Castelo de Paiva 2019                126.0              870.0            24.53

## Datasets merging

In [350]:
all_data = [pastures_data, agr_area_data, agr_prop_data, demogr_data, educ_data, activity_data]

In [351]:
# Check: all datasets have same length
for dataset in all_data:
    print(dataset.shape[0])

1112
1112
1112
1112
1112
1112

In [352]:
dataset_merged = pd.concat(all_data, axis=1, join='inner')
dataset_merged.head()

                       pastures_area_munic_ha  agric_area_munic_ha  \
Municipality     Year
Arouca           1989                   592.0               4634.0
                 1999                  1331.0               4026.0
                 2009                  2602.0               4457.0
                 2019                  3873.0               4888.0
Castelo de Paiva 1989                    38.0               1915.0

                       agric_area_owned_ha  agric_area_mean  tract_100ha  \
Municipality     Year
Arouca           1989               2705.0              1.8         10.1
                 1999               2525.0              2.4         15.1
                 2009               3755.0              4.0         14.7
                 2019               4888.0              5.6         15.0
Castelo de Paiva 1989                889.0              1.7          5.3

                       lu_cattle_num  lu_per_agric_area  farmers_num  \
Municipality     Year
Arouca           1989         6651.0               2.03       2565.0
                 1999         5576.0               1.95       1688.0
                 2009         4176.0               1.22       1120.0
                 2019         2982.0               1.11        881.0
Castelo de Paiva 1989         1476.0               1.35       1124.0

                       farmers_over65_num  farmers_female_num  educ_none  \
Municipality     Year
Arouca           1989               560.0               758.0      46.93
                 1999               435.0               752.0      30.10
                 2009               394.0               621.0      22.03
                 2019               399.0               412.0      13.96
Castelo de Paiva 1989               219.0               289.0      39.34

                       educ_basic  educ_secondary  educ_superior  \
Municipality     Year
Arouca           1989       51.90            0.66           0.51
                 1999       68.06            0.83           1.01
                 2009       74.46            1.26           2.25
                 2019       80.86            1.69           3.49
Castelo de Paiva 1989       57.81            1.52           1.34

                       work_unit_100ha  inc_excl_agric_ha  \
Municipality     Year
Arouca           1989            110.7              926.0
                 1999             84.1              456.0
                 2009             41.4              568.0
                 2019             28.2              185.0
Castelo de Paiva 1989            110.0              261.0

                       inc_mainly_agric_ha  inc_mainly_ext_ha  agric_time_full
Municipality     Year
Arouca           1989               2059.0             1321.0            28.80
                 1999               1229.0             1530.0            64.54
                 2009                639.0             1749.0            71.67
                 2019                491.0             1311.0            78.80
Castelo de Paiva 1989                694.0              955.0            30.24

In [353]:
dataset_merged.shape

(1112, 19)

## Interpolation
Create a dataset with all years from 1996 to 2019 for each variable, interpolating the available data

In [354]:
years = list(range(1989, 2020))

In [355]:
# Create a dataset with all the years and reporting the values for the years we know them
dataset_interpolated = pd.MultiIndex.from_product([municipalities, years]).to_frame()
dataset_interpolated.drop(dataset_interpolated.columns, axis=1, inplace=True)
dataset_interpolated.index.names = ['Municipality', 'Year']
dataset_interpolated[dataset_merged.columns] = np.nan
dataset_interpolated.update(dataset_merged)

In [356]:
dataset_interpolated.interpolate(inplace=True)

In [357]:
# Restrict years from 1995, the first year for which we have SBP adoption data and therefore the first of our analysis
mask_less_1996 = dataset_interpolated.index.get_level_values(1) < 1995
dataset_interpolated.drop(dataset_interpolated[mask_less_1996].index, inplace=True)

In [358]:
dataset_interpolated.head()

                   pastures_area_munic_ha  agric_area_munic_ha  \
Municipality Year
Arouca       1995                  1035.4               4269.2
             1996                  1109.3               4208.4
             1997                  1183.2               4147.6
             1998                  1257.1               4086.8
             1999                  1331.0               4026.0

                   agric_area_owned_ha  agric_area_mean  tract_100ha  \
Municipality Year
Arouca       1995               2597.0             2.16         13.1
             1996               2579.0             2.22         13.6
             1997               2561.0             2.28         14.1
             1998               2543.0             2.34         14.6
             1999               2525.0             2.40         15.1

                   lu_cattle_num  lu_per_agric_area  farmers_num  \
Municipality Year
Arouca       1995         6006.0              1.982       2038.8
             1996         5898.5              1.974       1951.1
             1997         5791.0              1.966       1863.4
             1998         5683.5              1.958       1775.7
             1999         5576.0              1.950       1688.0

                   farmers_over65_num  farmers_female_num  educ_none  \
Municipality Year
Arouca       1995               485.0               754.4     36.832
             1996               472.5               753.8     35.149
             1997               460.0               753.2     33.466
             1998               447.5               752.6     31.783
             1999               435.0               752.0     30.100

                   educ_basic  educ_secondary  educ_superior  work_unit_100ha  \
Municipality Year
Arouca       1995      61.596           0.762           0.81            94.74
             1996      63.212           0.779           0.86            92.08
             1997      64.828           0.796           0.91            89.42
             1998      66.444           0.813           0.96            86.76
             1999      68.060           0.830           1.01            84.10

                   inc_excl_agric_ha  inc_mainly_agric_ha  inc_mainly_ext_ha  \
Municipality Year
Arouca       1995              644.0               1561.0             1446.4
             1996              597.0               1478.0             1467.3
             1997              550.0               1395.0             1488.2
             1998              503.0               1312.0             1509.1
             1999              456.0               1229.0             1530.0

                   agric_time_full
Municipality Year
Arouca       1995           50.244
             1996           53.818
             1997           57.392
             1998           60.966
             1999           64.540

# Features engineering
Create the final census dataset for data analysis: manipulate features to create new ones, remove the ones we do not want to use.

In [359]:
dataset_interpolated[dataset_interpolated['lu_per_agric_area'] == 0].shape[0]

21

### Create and add features to final dataset

In [360]:
final_census_data = dataset_interpolated.copy().drop(dataset_interpolated.columns, axis=1)

In [361]:
permanent_pastures_area_2009 = dataset_interpolated.loc[(slice(None), 2009), 'pastures_area_munic_ha'].droplevel(1)
final_census_data['pastures_area_var'] = dataset_interpolated['pastures_area_munic_ha'].divide(
    permanent_pastures_area_2009, axis=0, level='Municipality'
)

In [362]:
final_census_data['pastures_area_munic'] = dataset_interpolated['pastures_area_munic_ha'] / dataset_interpolated['agric_area_munic_ha']

In [363]:
final_census_data['pastures_area_mean'] = dataset_interpolated['pastures_area_munic_ha'] / dataset_interpolated['farmers_num']

In [364]:
final_census_data['agric_area_mean'] = dataset_interpolated['agric_area_mean']

In [365]:
final_census_data['agric_area_owned'] = dataset_interpolated['agric_area_owned_ha'] / dataset_interpolated['agric_area_munic_ha']

In [366]:
final_census_data['tract_100ha'] = dataset_interpolated['tract_100ha']

In [367]:
final_census_data['lu_cattle'] = dataset_interpolated['lu_cattle_num'] / (
    dataset_interpolated['lu_per_agric_area'] * dataset_interpolated['agric_area_munic_ha']
)
final_census_data[final_census_data['lu_cattle'] > 1].shape[0]

166

In [368]:
# Set these values over 1 to 1
final_census_data.loc[final_census_data['lu_cattle'] > 1, 'lu_cattle'] = 1
final_census_data[final_census_data['lu_cattle'] > 1].shape[0]

0

In [369]:
final_census_data['lu_per_agric_area'] = dataset_interpolated['lu_per_agric_area']

In [370]:
final_census_data['farmers_female'] = dataset_interpolated['farmers_female_num'] / dataset_interpolated['farmers_num']
(final_census_data['farmers_female'] > 1).any()

False

In [371]:
final_census_data['farmers_over65'] = dataset_interpolated['farmers_over65_num'] / dataset_interpolated['farmers_num']
(final_census_data['farmers_over65'] > 1).any()

False

In [372]:
final_census_data['educ_none'] = dataset_interpolated['educ_none']

In [373]:
final_census_data['educ_second_super'] = dataset_interpolated['educ_secondary'] + dataset_interpolated['educ_superior']

In [374]:
final_census_data['agric_time_full'] = dataset_interpolated['agric_time_full']

In [375]:
final_census_data['inc_excl_agric'] = dataset_interpolated['inc_excl_agric_ha'] / dataset_interpolated['agric_area_munic_ha']

In [376]:
final_census_data['inc_mainly_ext'] = (
    dataset_interpolated['inc_mainly_ext_ha'] / dataset_interpolated['agric_area_munic_ha']
)

In [377]:
final_census_data['work_unit_100ha'] = dataset_interpolated['work_unit_100ha']

In [378]:
final_census_data.head()

                   pastures_area_var  pastures_area_munic  pastures_area_mean  \
Municipality Year
Arouca       1995           0.397925             0.242528            0.507848
             1996           0.426326             0.263592            0.568551
             1997           0.454727             0.285273            0.634968
             1998           0.483128             0.307600            0.707946
             1999           0.511530             0.330601            0.788507

                   agric_area_mean  agric_area_owned  tract_100ha  lu_cattle  \
Municipality Year
Arouca       1995             2.16          0.608311         13.1   0.709799
             1996             2.22          0.612822         13.6   0.710031
             1997             2.28          0.617466         14.1   0.710188
             1998             2.34          0.622247         14.6   0.710264
             1999             2.40          0.627173         15.1   0.710255

                   lu_per_agric_area  farmers_female  farmers_over65  \
Municipality Year
Arouca       1995              1.982        0.370022        0.237885
             1996              1.974        0.386346        0.242171
             1997              1.966        0.404207        0.246861
             1998              1.958        0.423833        0.252013
             1999              1.950        0.445498        0.257701

                   educ_none  educ_second_super  agric_time_full  \
Municipality Year
Arouca       1995     36.832              1.572           50.244
             1996     35.149              1.639           53.818
             1997     33.466              1.706           57.392
             1998     31.783              1.773           60.966
             1999     30.100              1.840           64.540

                   inc_excl_agric  inc_mainly_ext  work_unit_100ha
Municipality Year
Arouca       1995        0.150848        0.338799            94.74
             1996        0.141859        0.348660            92.08
             1997        0.132607        0.358810            89.42
             1998        0.123079        0.369262            86.76
             1999        0.113264        0.380030            84.10

## Store dataset for ABM

In [379]:
final_census_for_abm = final_census_data.copy()

## Remove unusable instances from dataset for data analysis

We cannot use instances with infinite values for training the machine learning models, so we need to drop the instances with a value of 0s for variables used to divide others.

In [380]:
def remove_0s(feature):
    len_pre = final_census_data.shape[0]
    final_census_data.drop(dataset_interpolated[dataset_interpolated[feature] == 0].index, inplace=True, errors='ignore')
    len_after = final_census_data.shape[0]
    if len_pre == len_after:
        print("No rows dropped")

### Remove features with a value of permanent pastures of 0

In [381]:
dataset_interpolated[dataset_interpolated['agric_area_munic_ha'] == 0].shape[0]

38

In [382]:
dataset_interpolated[dataset_interpolated['pastures_area_munic_ha'] == 0].shape[0]

59

In [383]:
#These functions remove from cenus_data_final, not from dataset_interpolated!
remove_0s('pastures_area_munic_ha')

In [384]:
remove_0s('agric_area_munic_ha')

No rows dropped

### Remove features with a value of number of farmers of 0

In [385]:
remove_0s('farmers_num')

No rows dropped

No need since thee are none.

### Remove features with a value of cattle per hectare of 0

In [386]:
remove_0s('lu_per_agric_area')

No rows dropped

## Refer all the features to the following year

In [387]:
new_years = final_census_data.index.get_level_values(1) + 1
new_munic = final_census_data.index.get_level_values(0)

In [388]:
len(new_years)

6891

In [389]:
final_census_data_pr_y = final_census_data.copy()
final_census_data_pr_y.index = pd.MultiIndex.from_arrays([new_munic, new_years])

In [390]:
final_census_data_pr_y.head()

                   pastures_area_var  pastures_area_munic  pastures_area_mean  \
Municipality Year
Arouca       1996           0.397925             0.242528            0.507848
             1997           0.426326             0.263592            0.568551
             1998           0.454727             0.285273            0.634968
             1999           0.483128             0.307600            0.707946
             2000           0.511530             0.330601            0.788507

                   agric_area_mean  agric_area_owned  tract_100ha  lu_cattle  \
Municipality Year
Arouca       1996             2.16          0.608311         13.1   0.709799
             1997             2.22          0.612822         13.6   0.710031
             1998             2.28          0.617466         14.1   0.710188
             1999             2.34          0.622247         14.6   0.710264
             2000             2.40          0.627173         15.1   0.710255

                   lu_per_agric_area  farmers_female  farmers_over65  \
Municipality Year
Arouca       1996              1.982        0.370022        0.237885
             1997              1.974        0.386346        0.242171
             1998              1.966        0.404207        0.246861
             1999              1.958        0.423833        0.252013
             2000              1.950        0.445498        0.257701

                   educ_none  educ_second_super  agric_time_full  \
Municipality Year
Arouca       1996     36.832              1.572           50.244
             1997     35.149              1.639           53.818
             1998     33.466              1.706           57.392
             1999     31.783              1.773           60.966
             2000     30.100              1.840           64.540

                   inc_excl_agric  inc_mainly_ext  work_unit_100ha
Municipality Year
Arouca       1996        0.150848        0.338799            94.74
             1997        0.141859        0.348660            92.08
             1998        0.132607        0.358810            89.42
             1999        0.123079        0.369262            86.76
             2000        0.113264        0.380030            84.10

# Save final census data

In [391]:
path_to_extr_census_data = os.path.join(path_to_extr_data_folder, "census_data.csv")
final_census_data_pr_y.to_csv(path_to_extr_census_data)

## Save reference permanent pastures area
This is the base area of permanent pastures we will refer all the others to

In [392]:
pastures_data_ref = pastures_data.loc[(slice(None), 2009), :].copy()
pastures_data_ref = pastures_data_ref.droplevel(1)

In [393]:
path_to_extr_ref_pastures_data = os.path.join(path_to_extr_data_folder, "municipalities_reference_permanent_pastures_area.csv")
pastures_data_ref.to_csv(path_to_extr_ref_pastures_data)

## Save average 1999-2009 permanent pastures area
Extract in a different dataset the average of of pastures area, since needed for disaggregation of adoption previous to PCF project and for the ABM.

In [394]:
pastures_area_average = pd.DataFrame(index=municipalities)
pastures_area_average.index.name = 'Municipality'

In [395]:
pastures_area_average['pastures_area_munic_ha'] = ((pastures_data.loc[(slice(None), 1999), 'pastures_area_munic_ha'].values
                                                    + pastures_data.loc[(slice(None), 2009), 'pastures_area_munic_ha'].values) 
                                                   / 2)

In [396]:
path_to_extr_pastures_data = os.path.join(path_to_extr_data_folder, "municipalities_permanent_pastures_area.csv")
pastures_area_average.to_csv(path_to_extr_pastures_data)

## Save data for ABM

In [397]:
path_to_extr_census_data_abm = os.path.join(path_to_extr_data_folder, "census_data_for_abm.csv")
final_census_for_abm.to_csv(path_to_extr_census_data_abm)

Pastures data: need to add data for 2020 to run ABM in this year, assuming pastures area same as the one in 2019

In [398]:
pastures_data_copy = dataset_interpolated['pastures_area_munic_ha'].copy()

In [399]:
municipalities_new = pastures_data_copy.index.get_level_values(0).unique()
years_new = pastures_data_copy.index.get_level_values(1).unique()
pastures_data_2020 = pastures_data_copy.reindex(pd.MultiIndex.from_product([municipalities_new, [*years_new, 2020]]))

In [400]:
pastures_data_2020.index.set_names(['Municipality', 'Year'], inplace=True)
pastures_data_2020.loc[(slice(None), 2020)] = pastures_data_2020.loc[(slice(None), 2019)].values

In [401]:
path_to_extr_yearly_pastures_data = os.path.join(path_to_extr_data_folder, "yearly_permanent_pastures_area.csv")
pastures_data_2020.to_csv(path_to_extr_yearly_pastures_data)